*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:white;
    min-width: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    padding: 60px 100px;
}

.logo{
    text-decoration: none;
    font-weight: 700;
    color: #151415;
    font-size: 2em;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.navigation li a{
    text-decoration: none;
    color: #151415;
    padding: 6px 15px;
    transition: .5s;
}

.navigation li a:hover{
    background: #8a8a8a;
    border-radius: 20px;
    color: white;
}

.navigation li a.active{
    background: #151415;
    border-radius: 20px;
    color: white;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #112434;
}

.sec{
    position: relative;
    padding: 100px;
    background: #112434;
}

.sec h2{
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}

.sec p{
    color: white;
    font-size: 1em;
    font-weight: 300;
}